#{field 'object.' + _name}
<script>
    $(function() {
        $( "#${field.id}" ).datepicker({changeMonth: true, changeYear: true});
        $( "#format" ).change(function() {
            $( "#${field.id}" ).datepicker( "option", "dateFormat", "dd/MM/yyyy" );
        });
    });
</script>

    <label for="${field.id}">
        &{_name}
    </label>
    <input id="${field.id}" class="${field.errorClass}" type="text" name="${field.name}" value="${_value?.format()}" size="10" />
    #{ifError field.name}
        <span class="error">${field.error.raw()}</span>
    #{/ifError}
#{/field}
