#{field 'object.' + _name}
<script type="text/javascript">
    $(function() {
        $('#uploadButton').click(function(){
            upload.click();
        });

        $('#upload').change(function(){
           $('#${field.id}').val($(this).val());
        });
    });
</script>
<label for="${field.id}"> &{_name} </label>

#{if _value && _value.exists() && _id}
    <input type="file" id="${field.id}" class="${field.errorClass}" style="display: none" name="${field.name}"
        #{if params[field.name]}
        value="${params[field.name]}"
        #{/if}
        #{else}
        value="${_value.getFile().getName()}"
        #{/else}
    />
    <div style="margin-top: 10px; display: inline-block; text-align: left;">
        <img src="@{Game.showImage(_id)}" alt="${_id}" height="50px" width="50px"/>
        <span style="vertical-align: top;">
            <input type="checkbox" name="${field.name}_delete_"/><span>(delete)</span>
        </span>
    </div>
#{/if}
#{else}
<div style="margin-top: 10px; display: inline-block; text-align: left; vertical-align: top;">
    <input type="file" id="${field.id}" class="${field.errorClass}" name="${field.name}"
           #{if params[field.name]}
           value="${params[field.name]}"
           #{/if}
    />
</div>
#{/else}

#{ifError field.name}
<span class="error">${field.error.raw()}</span>
#{/ifError}
#{/field}