#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', 'jeux'}</h2>

    <div id="crudListSearch">
        #{games.search /}
    </div>

    <div id="crudListTable">
        #{games.table fields:['title', 'isBorrowed', 'borrowingDate', 'expectedReturnDate'], sort:['title', 'isBorrowed', 'borrowingDate', 'expectedReturnDate']}

        #{crud.custom 'title'}
            <a href="/Game/show/${object.id}" style="font-weight: bold;">${object.title}</a>
        #{/crud.custom}

        #{crud.custom 'isBorrowed'}
        #{if object.isBorrowed() }
        <span style="color:red;font-weight: bold;">Emprunté #{secure.check 'admin'}par ${object.getBorrowing().getPlayer().getFullName()}#{/secure.check}</span>
        #{/if}
        #{else}
        Disponible
        #{/else}
        #{/crud.custom}

        #{crud.custom 'borrowingDate'}
        #{if object.getBorrowing()}
          <span style="font-weight: bold;">${object.getBorrowingDate().format('dd/MM/yyyy')}</span>
        #{/if}
        #{/crud.custom}

        #{crud.custom 'expectedReturnDate'}
        #{if object.getBorrowing()}
          <span style="font-weight: bold;">${object.getExpectedReturnDate().format('dd/MM/yyyy')}</span>
        #{/if}
        #{/crud.custom}

        #{/games.table}
    </div>

    <div id="crudListPagination">
        #{games.pagination /}
    </div>

    #{secure.check 'admin'}
    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', 'jeu'}</a>
    </p>
    #{/secure.check}
</div>
