<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', 'emprunts archivés'}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['game', 'player', 'returnDate'], sort:['game', 'player', 'returnDate']}
            #{crud.custom 'returnDate'}
            <span style="font-weight: bold;">${object.getReturnDate() ?object.getReturnDate().format('dd/MM/yyyy'):""}</span>
            #{/crud.custom}
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>
</div>
