#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', 'emprunt'}</h2>

    <div class="objectForm">
        #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form games:games, source:"show" /}
        <p class="crudButtons">
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}"/>
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}"/>
        </p>
        #{/form}
    </div>

    #{if !object.isArchived()}
    #{form @Borrowings.returnGame(object._key()), id:'form'}
    <p class="crudDelete">
        <input type="hidden" name="returnDate" id="returnDate" />
        <input type="submit" value="&{'returnGame'}"/>
    </p>
    #{/form}
    #{/if}

</div>

<script>
    $( "#form" ).submit(function(){
        $("#returnDate").val($( "#object_returnDate" ).val());
        submit();
    });
    $( "#object_returnDate" ).datepicker({ dateFormat: 'dd/mm/yy'}).datepicker( "setDate", new Date());
</script>