#{extends 'CRUD/layout.html' /}

<form action="@{User.save()}" method="POST">
    <div id="crud">
        <h2>${user.getFullName()}</h2>

        <div class="crudField">
            <label for="object_email">&{'userEmail'}</label>
            <input type="text" id="object_email" name="email" size="50" value='${user.getEmail()}'/>
        </div>

        <h2>&{'userChangePasswordTitle'}</h2>

        <div class="crudField">
            <label for="object_password">&{'userPassword'}</label>
            <input type="password" id="object_password" name="password" size="50"/>
        </div>
        <div class="crudField">
            <label for="object_newPassword">&{'userNewPassword'}</label>
            <input type="password" id="object_newPassword" name="newPassword" size="50"/>
        </div>
        <div class="crudField">
            <label for="object_newPasswordBis">&{'userNewPasswordBis'}</label>
            <input type="password" id="object_newPasswordBis" name="newPasswordBis" size="50"/>
        </div>
    </div>
    <p class="crudButtons">
        <input type="submit" name="_save" value="Enregistrer"/>
    </p>
</form>