#{extends 'CRUD/layout.html' /}

<form action="@{User.save()}">
    <div id="crud">
        <h2>${user.getFullName()}</h2>

        <div class="crudField">
            <label for="object_email">Email:</label>
            <input type="text" name="object_email" size="50" placeholder='${user.email}'/>
        </div>
        <div class="crudField">
            <label for="object_password">Mot de passe:</label>
            <input type="password" name="object_password" size="50"/>
        </div>
        <div class="crudField">
            <label for="object_newPassword">Nouveau mot de passe:</label>
            <input type="password" name="object_newPassword" size="50"/>
        </div>
        <div class="crudField">
            <label for="object_newPasswordBis">Resaisir mot de passe:</label>
            <input type="password" name="object_newPasswordBis" size="50"/>
        </div>
    </div>
    <p class="crudButtons">
        <input type="submit" name="_save" value="Enregistrer"/>
    </p>
</form>