<!DOCTYPE html>
<html>
<head>
    <title>SOJ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    #{get 'moreStyles' /}
    #{stylesheet media:'screen', src:'main.css' /}
    #{stylesheet media:'screen', src:'jquery-ui.min.css' /}
    #{get 'moreCss' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}"/>
    #{script src:'jquery-1.9.1.js', charset:'utf-8' /}
    #{script src:'jquery-ui.min.js', charset:'utf-8' /}
    #{script src:'jquery.ui.datepicker-fr.min.js', charset:'utf-8' /}
</head>


<body id="admin">

<div id="header">
    <div id="logo">
        SiiOnJouait #{secure.check 'admin'}<span>Administration</span>#{/secure.check}
    </div>
    <ul id="tools">
        <li><a href="@{User.show()}">${session.get("usr")}</a> | <a href="@{Secure.logout()}">Deconnexion</a></li>
    </ul>
</div>

<div id="main">

    <ul id="adminMenu">
        #{if session.get("isAdmin") == "true"}
        <li class="${request.action.contains('Admin') ? 'selected' : ''}">
            <a href="@{Admin.index()}">Accueil</a>
        </li>
        #{/if}
        #{else}
        <li class="${request.action.contains('Games') ? 'selected' : ''}">
            <a href="@{Games.list()}">Accueil</a>
        </li>
        #{/else}
        </li>
        #{secure.check 'admin'}
        <li class="${request.action.contains('Borrowings') ? 'selected' : ''}">
            <a href="@{Borrowings.list()}">Emprunts</a>
        </li>
        <li class="${request.action.contains('Games') ? 'selected' : ''}"><a
                href="@{Games.list()}">Jeux</a>
        </li>
        <li class="${request.action.contains('Users') ? 'selected' : ''}">
            <a href="@{Users.list()}">Joueurs</a>
        </li>
        #{/secure.check}
    </ul>

    #{doLayout /}
</div>
</body>
</html>